!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head(title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title th:text="${title}"> Title </title>

<!--
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>


-->

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


    <!-- jQuery datatables -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">


    <!-- Bootstrap datatables -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>


    <!-- Google Fonts -->
    <link th:href="@{http://fonts.googleapis.com/css?family=Oxygen}"
          rel='stylesheet' type='text/css'/>

    <!-- Font Awesome (for icons) -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/expman.css}">
    <link rel="stylesheet" th:href="@{/css/browsing_table_navigation.css}">
    <link rel="stylesheet" th:href="@{/css/specimen_search.css}">







    <script type="text/javascript">
        $(function () {
            $("#collectionEvent").autocomplete({
                source: "/collectionEventCodesAutocomplete",
                minLength: 2
            });
        });
    </script>


    <script type="text/javascript">
        $(function () {
            $("#species").autocomplete({
                source: "/speciesAutocomplete",
                minLength: 2
            });
        });
    </script>

</head>
<body>



<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:fragment="navigation">
    <a class="navbar-brand" href="/">
        <i class="fa fa-leaf" aria-hidden="true"></i>
        EXPMAN
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="fas fa-home" aria-hidden="true"></i> Home
                </a>
            </li>


            <!-- if user is signed in -->
            <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" href="#" id="menuBarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-link" aria-hidden="true"></i> Submit data </a>
                <div class="dropdown-menu" aria-labelledby="menuBarDropdown">
                    <a class="dropdown-item" href="/new/ctscan"> New CT Scan</a>
                </div>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/explore/specimens}">
                    <i class="fa fa-link" aria-hidden="true"></i> Specimens </a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/profile}">
                    <i class="fa fa-user" aria-hidden="true"></i> Account</a>
            </li>

            <li class="nav-item" sec:authorize="isAuthenticated()">
                <form method="POST" th:action="@{/logout}" sec:authorize="isAuthenticated()">
                    <button class="nav-link"><i class="fa fa-sign-out-alt" aria-hidden="true"></i> Sign Out</button>
                </form>
            </li>

            <!-- if user is not signed in -->
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/login}">
                    <i class="fa fa-sign-in-alt" aria-hidden="true"></i> Sign In</a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/register}">
                    <i class="fa fa-user-plus" aria-hidden="true"></i> Register</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container d-flex" th:fragment="jumbotron">
    <div class="jumbotron jumbotron-fluid my-auto">
        <h2 class="display-6 text-right" th:text="#{jumbotron.title}"> expman: An ant specimen experiment manager. </h2>
        <p class="lead text-right text-monospace" th:text="#{jumbotron.subtitle}"> This is a bio-informatics related project aimed to support
            specimen collectors and experimentalists on managing experimental meta data.
            It has been developed with Spring Boot 2, Spring Framework 5 & so many other great projects!</p>
    </div>
</div>

<div th:fragment="breaks_top">
    <br>
    <br>
</div>


<div class="container" th:fragment="content">
    <p>This is your main content</p>
</div>


</body>
</html>