<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/main_layout :: head('Expman')}">


</head>

<body>
<nav th:replace="layouts/main_layout::navigation"></nav>
<div th:replace="layouts/main_layout::jumbotron"></div>
<div th:replace="layouts/main_layout::breaks_top"></div>



<div class="container">
  <div class="row">
    <div class="table-responsive col-md-6">
      <div class="row">
        <div class="col-md-6">
          <h4>Basic data</h4>
        </div>
      </div>
      <br>
      <table class="table table-bordered table-striped"  id="ctScanDataTable" th:object="${ctscan}">
        <colgroup>
          <col span="1" style="width: 15%;">
          <col span="1" style="width: 70%;">
        </colgroup>
        <tbody>
        <tr>
          <th>Specimen code</th>
          <td th:text="*{specimen}"></td>
        </tr>
        <tr>
          <th>Model</th>
          <td th:text="*{model}"></td>
        </tr>
        <tr>
          <th>Body part</th>
          <td th:text="*{{bodyPart}}"></td>
        </tr>
        <tr>
          <th>Special identifier</th>
          <td th:text="*{{specialIdentifier}}"></td>
        </tr>
        <tr>
          <th>Prep note</th>
          <td th:text="*{prepNote}"></td>
        </tr>
        <tr>
          <th>Antscan</th>
          <td th:text="*{antscan}"></td>
        </tr>
        <tr>
          <th>Antscan code</th>
          <td th:text="*{antscanCode}"></td>
        </tr>
        <tr>
          <th>Scan reason</th>
          <td th:text="*{scanReason}"></td>
        </tr>
        <tr>
          <th>Scan user</th>
          <td th:text="*{scanUser}"></td>
        </tr>
        <tr>
          <th>Scan note</th>
          <td th:text="*{ctScanNote}"></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="table-responsive col-md-6">
      <div class="row">
        <div class="col-md-6">
          <h4>Staining</h4>
        </div>
      </div>
      <br>
      <table class="table table-bordered table-striped"  id="ctScanStainingDataTable" th:object="${ctscan}">
        <colgroup>
          <col span="1" style="width: 15%;">
          <col span="1" style="width: 70%;">
        </colgroup>
        <tbody>
        <tr>
          <th>Staining</th>
          <td th:text="*{staining}"></td>
        </tr>
        <tr>
          <th>Wet</th>
          <td th:text="*{wet}"></td>
        </tr>
        <tr>
          <th>Ethanol concentration</th>
          <td th:text="*{ethanolConcentration}"></td>
        </tr>
        <tr>
          <th>Dry method</th>
          <td th:text="*{dryMethod}"></td>
        </tr>
        </tbody>
      </table>

      <div class="col-md-6">
        <a th:href="@{'/edit/ctscan/' + ${ctscan.getScanId()}}" class="btn btn-info"><i
                class="fas fa-cogs"></i> Edit data</a>
      </div>
    </div>

  </div>
</div>

</body>
</html>