<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="../../static/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/libs.bootstrap/css/bootstrap.min.css}"/>

    <script src="../../static/libs/bootstrap/js/bootstrap.min.js"
            th:href="@{/libs.bootstrap/js/bootstrap.min.js}"></script>

    <link th:href="@{/css/expman.css}" rel="stylesheet" media="screen">
</head>
<body>
<div class="jumbotron" th:fragment="jumbotron">
    <div class="container">
        <h1 th:text="#{jumbotron.title}"> Experiment Manager </h1>
        <p class="lead" th:text="#{jumbotron.subtitle}">The Arilab experiment manager.</p>
    </div>
</div>


</body>
</html>