#specimens_list_container {
    margin-top: 30px;
}


#warning_data_limit_row {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#warning_data_limit_message {
    color: darkred;
}