<div class="row" th:fragment="new_locality">
    <div class="table-responsive col-md-6">
        <div class="form-group row">
            <label for="localityCode" class="col-md-3 col-form-label text-right"> Locality Code23</label>
            <div class="col-md-6">
                <input class="form-control" type="text" th:field="*{localityCode}" id="localityCode"
                       autofocus
                       th:required="${localityCodeRequired} == null ? 'required' : (${localityCodeRequired} == 'true' ? 'required': null)">
            </div>
        </div>

        <div th:replace="~{entities/locality_fragments :: locality_left_column}"></div>
    </div>
    <div class="table-responsive col-md-6">
        <div th:replace="~{entities/locality_fragments :: locality_right_column}"></div>
    </div>
</div>