<div class="row" th:fragment="new_locality">
    <div class="table-responsive col-md-6">
        <div class="form-group row" th:class="${#fields.hasErrors('localityCode')} ? 'form-group row is-invalid': 'form-group row'">
            <label for="localityCode" class="col-md-3 col-form-label text-right"> Locality Code</label>
            <div class="col-md-6">
                <div id="localityMsg"></div>
                <input class="form-control" type="text" th:field="*{localityCode}" id="localityCode"
                       th:errorclass="is-invalid"
                       autofocus
                       th:required="${localityCodeRequired} == null ? 'required' : (${localityCodeRequired} == 'true' ? 'required': null)">
                <span th:if="${#fields.hasErrors('localityCode')}" th:errors="*{localityCode}">Error!</span>

            </div>
        </div>

        <div th:replace="~{entities/locality_fragments :: locality_left_column}"></div>
    </div>
    <div class="table-responsive col-md-6">
        <div th:replace="~{entities/locality_fragments :: locality_right_column}"></div>
    </div>
</div>