<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{main_layout :: head('Expman')}">
</head>


<body>
<nav th:replace="main_layout::navigation"></nav>
<div th:replace="main_layout::breaks_top"></div>
<div class="container">
    <div class="col-md-12">
        <div class="row">
            <h2 th:text="#{index.page.title}"> Welcome to the experiment manager </h2>
        </div>
        <div class="row">
            <h4 th:text="#{index.page.usermessage}"> This software help you manage the experimental metadata </h4>
        </div>
    </div>

</div>



</body>
</html>