<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> This is the index page </title>

    <link href="../static/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/libs.bootstrap/css/bootstrap.min.css}"/>

    <script src="../static/libs/bootstrap/js/bootstrap.min.js"
            th:href="@{/libs.bootstrap/js/bootstrap.min.js}"></script>

</head>


<body>
<div class="col-md-12">
    <div class="row">
        <h1> Welcome to the experiment manager </h1>
    </div>
    <div class="row">
        <h2> This software help you manage the experimental metadata </h2>
    </div>
    <div class="row">
        <button class="btn-primary"> Submit new data </button>
    </div>
    <div class="row">
        <button class="btn-primary"> Explore the database </button>
    </div>
</div>


</body>
</html>