<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> This is the index page </title>

    <!-- // The html href and the th:href are not the same. The html one starts from the current folder, while the thymeleaf starts from the root content folder (in this case, /static). -->
    <link href="../static/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/libs/bootstrap/css/bootstrap.min.css}"/>

    <script src="../static/libs/bootstrap/js/bootstrap.min.js"
            th:src="@{/libs/bootstrap/js/bootstrap.min.js}"></script>

    <link th:href="@{/css/expman.css}" rel="stylesheet" media="screen">


</head>
<body>
<nav th:replace="layouts/main_layout::navigation"></nav>
<div class="jumbotron" th:replace="layouts/main_layout::jumbotron"></div>



<div class="container">
    <div class="col-md-12">
        <div class="row">
            <h1 th:text="#{index.page.title}"> Welcome to the experiment manager </h1>
        </div>
        <div class="row">
            <h2 th:text="#{index.page.subtitle}"> This software help you manage the experimental metadata </h2>
        </div>
        <div class="row">
            <button class="btn-primary" th:text="#{index.page.button.newdata}"> Submit new data </button>
        </div>
        <div class="row">
            <button class="btn-primary" th:text="#{index.page.button.explore}"> Explore the database </button>
        </div>
    </div>

</div>


<div class="container" th:replace="layouts/main_layout :: footer">
    <p>footer</p>
</div>
</body>
</html>