<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{main_layout :: head('Expman')}">
</head>

<body>
<script type="text/javascript" th:src="@{/js/autocomplete/country_ac.js}"></script>
<script type="text/javascript" th:src="@{/js/autocomplete/biogeographic_region_ac.js}"></script>


<nav th:replace="main_layout::navigation"></nav>
<div th:replace="main_layout::breaks_top"></div>


<div class="container">
    <h3 style="margin-bottom: 50px"> Submit new locality</h3>
    <form method="post" th:action="@{/submit/newlocality}" th:object="${newLocality}" id="submitLocalityForm">
        <div class="row" th:replace="entities/new_locality_fragment :: new_locality"></div>
        <div class="form-group row flex-row-reverse" style="padding-top: 1rem">
            <div class="col-md-3">
                <a th:href="@{'/explore/specimens'}" class="btn btn-secondary"><i
                        class="fab fa-affiliatetheme"></i> Cancel</a>
                <button name="submit" type="submit" class="btn btn-info"><i
                        class="fas fa-spinner"></i> Submit
                </button>
            </div>
        </div>
    </form>
</div>
</body>
</html>