<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/main_layout :: head('Expman')}">
</head>





<body>
<nav th:replace="layouts/main_layout::navigation"></nav>
<div th:replace="layouts/ctscans_search_bar::ctscans_search_bar"></div>



<div id="ctscans_list_container" class="container">
    <div class="col-12">
        <div class="row">
            <h3> CTScans List </h3>
            <table id="ctscansTable" class="table table-striped">
                <thead>
                <tr>
                    <th>Specimen code</th>
                    <th>Taxon code</th>
                    <th>Collection event</th>
                    <th>Locality code</th>
                    <th>Body part</th>
                    <th>Scan user</th>
                    <th>Folder location</th>
                </tr>
                </thead>

                <tr th:each="ctscan : ${ctscans}">

                    <td><a th:text="${ctscan.getSpecimen().getSpecimenCode()}"></a></td>

                    <td th:text="${ctscan.getSpecimen().getSpecies()}"></td>

                    <td th:text="${ctscan.getSpecimen().getCollectionEvent()}"></td>

                    <td th:text="${ctscan.getSpecimen().getCollectionEvent()} != null ? ${ctscan.getSpecimen().getCollectionEvent().getLocality()} : ''"></td>

                    <td th:text="${ctscan.getScanUser()}"></td>

                    <td th:text="${ctscan.getFolderLocation()}"></td>

                </tr>
            </table>

            <div> &nbsp;</div>
        </div>


        <div class="row">
            <div class="col-6">
                Total items: <span
                    th:text="${#numbers.formatDecimal(totalScans, 0, 'COMMA', 0, 'POINT')}"></span>
                - Page <span th:text="${#numbers.formatDecimal(currentPage, 0, 'COMMA', 0, 'POINT')}"></span>
                of <span th:text="${#numbers.formatDecimal(totalPages, 0, 'COMMA', 0, 'POINT')}"></span>
                &nbsp; &nbsp;
            </div>


            <div class="col-6 table_navigation_container">

                <div th:if="${currentPage} > 1" class="flex-item table_navigation_element_string_withref">
                    <a th:href="@{'/explore/ctscans/page/1'}"> &lt;&lt; First</a></div>
                <div th:if="${currentPage} == 1" class="flex-item table_navigation_element_string">&lt;&lt; First
                </div>

                <div th:if="${currentPage} > 1" class="flex-item table_navigation_element_string_withref">
                    <a th:href="@{'/explore/ctscans/page/' + ${currentPage - 1}}">&lt; Previous</a>
                </div>
                <div th:if="${currentPage} ==1" class="flex-item table_navigation_element_string">&lt; Previous
                </div>

                <div th:each="i: ${#numbers.sequence(currentPage - 2, currentPage + 3)}"
                     th:if="${i} <= ${totalPages} and ${i} > 0"
                     class="flex-item table_navigation_element_numbering">
                    <a th:href="@{'/explore/ctscans/page/' + ${i}}"> <span
                            th:text="${#numbers.formatDecimal(i, 0, 'COMMA', 0, 'POINT')}"></span> </a>
                </div>

                <div th:if="${currentPage} < ${totalPages}"
                     class="flex-item table_navigation_element_string_withref">
                    <a th:href="@{'/explore/ctscans/page/' + ${currentPage + 1}}">Next &gt;</a>
                </div>
                <div th:if="${currentPage} == ${totalPages}" class="flex-item table_navigation_element_string">Next
                    &gt;
                </div>

                <div th:if="${currentPage} < ${totalPages}"
                     class="flex-item table_navigation_element_string_withref">
                    <a th:href="@{'/explore/ctscans/page/' + ${totalPages}}">Last &gt;&gt;</a>
                </div>
                <div th:if="${currentPage} == ${totalPages}" class="flex-item table_navigation_element_string">Last
                    &gt;&gt;
                </div>

            </div>
        </div>
    </div>


</div>
</div>


</body>
</html>