<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/main_layout :: head('Expman')}">
</head>


<body>
<nav th:replace="layouts/main_layout::navigation"></nav>
<div th:replace="layouts/main_layout::jumbotron"></div>
<div th:replace="layouts/main_layout::breaks_top"></div>


<div class="container">
    <div th:if="${not #lists.isEmpty(specimens)}">
        <h3> Specimens List </h3>
        <table class="table table-striped">
            <tr>
                <th>specimenCode</th>
                <th>taxonCode</th>
                <th>collectionEvent</th>
                <th>collectedBy</th>
                <th>localityCode</th>
                <th>localityName</th>
            </tr>
            <tr th:each="specimen : ${specimens}">

                <td> <a th:href="@{'/view/specimen/' + ${specimen.getSpecimenCode()}}" th:text="${specimen.getSpecimenCode()}"></a></td>

                <td><a th:if="${specimen.getSpecies()} != null"
                       th:href="@{'/view/species/' + ${specimen.getSpecies().getTaxonCode()}}"
                       th:text="${specimen.getSpecies().getTaxonCode()}"></a>
                    <span th:if="${specimen.getSpecies()} == null"> null </span></td>

                <td><a th:if="${specimen.getCollectionEvent()} != null"
                       th:href="@{'/view/collectionEvent/' + ${specimen.getCollectionEvent().getCollectionEventCode()}}"
                       th:text="${specimen.getCollectionEvent().getCollectionEventCode()}"></a>
                    <span th:if="${specimen.getCollectionEvent()} == null"> null </span></td>

                <td th:text="${specimen.getCollectionEvent()} != null ? ${specimen.getCollectionEvent().getCollectedBy()} : 'null'"></td>

                <td><a th:if="${specimen.getCollectionEvent()} != null and ${specimen.getCollectionEvent().getLocality()} != null"
                       th:href="@{'/view/locality/' + ${specimen.getCollectionEvent().getLocality().getLocalityCode()}}"
                       th:text="${specimen.getCollectionEvent().getLocality().getLocalityCode()}"></a>
                    <span th:if="${specimen.getCollectionEvent()} == null or ${specimen.getCollectionEvent().getLocality()} == null"> null </span></td>


                <td th:text="${specimen.getCollectionEvent()} != null and ${specimen.getCollectionEvent().getLocality()} != null ? ${specimen.getCollectionEvent().getLocality().localityName} : 'null'"></td>


                <!-- <td th:text="${specimen.getSpecies()} != null ? ${specimen.getSpecies().getTaxonCode()} : 'null'"> </td>
                <td th:text="${specimen.getCollectionEvent()} != null ? ${specimen.getCollectionEvent().getCollectionEventCode()} : 'null'"></td> -->

                </a>
            </tr>
        </table>
    </div>
    <div> &nbsp;</div>
    <div>
        Total items: [[${totalSpecimens}]] - Page [[${currentPage}]] of [[${totalPages}]]
        &nbsp; - &nbsp;

        <a th:if="${currentPage} > 1" th:href="@{'/explore/specimens/page/1'}"> First </a>
        <span th:if="${currentPage} == 1"> First </span>

        <a th:if="${currentPage} > 1" th:href="@{'/explore/specimens/page/' + ${currentPage - 1}}"> Previous </a>
        <a th:if="${currentPage} == 1"> Previous </a>

        <span th:each="i: ${#numbers.sequence(currentPage - 4,currentPage + 5)}">
            <a th:if="${i} < ${totalPages} and ${i} > 0" th:href="@{'/explore/specimens/page/' + ${i}}"> [[${i}]] </a>
        </span>

        <a th:if="${currentPage} < ${totalPages}" th:href="@{'/explore/specimens/page/' + ${currentPage + 1}}"> Next </a>
        <a th:if="${currentPage} == ${totalPages}"> Next </a>

        <a th:if="${currentPage} < ${totalPages}" th:href="@{'/explore/specimens/page/' + ${totalPages}}"> Last </a>
        <span th:if="${currentPage} == ${totalPages}"> Last </span>

    </div>
</div>


</body>
</html>